{%extends "base.html"%}
{% load static %}

{%block main%}


<div class="card">
    <div class="card-body">
    <div class="card">
        <div class="card-header">
            <h4>Adicionar Tipo</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'formTipo' %}" method="post">
                {% csrf_token %}
                {{ form_tipo.as_p }}
                <button class="btn btn-primary" type="submit">Salvar Tipo</button>
            </form>            
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Adicionar Grupo</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'formGrupo' %}" method="post">
                {% csrf_token %}
                {{ form_grupo.as_p }}
                <button class="btn btn-primary" type="submit">Salvar Grupo</button>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Adicionar Link</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'formLink' %}" method="post">
                {% csrf_token %}
                {{ form_link.as_p }}
                <button class="btn btn-primary" type="submit">Salvar Link</button>
            </form>
        </div>
    </div>
</div>
</div>

{%endblock main%}