{%extends "base.html"%}
{% load static %}

{%block main%}
<div class="card">
    <div class="card-body">
    <div class="card">
        <div class="card-header">
            <h2>Adicionar Tipo</h2>
        </div>
        <div class="card-body">
            <form action="." method="post" class="form-group">
                {% csrf_token %}
                {{ form_tipo.as_p }}
                <button class="btn btn-primary" type="submit">Salvar Tipo</button>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Adicionar Grupo</h2>
        </div>
        <div class="card-body">
            <form action="." method="post" class="form-group">
                {% csrf_token %}
                {{ form_grupo.as_p }}
                <button class="btn btn-primary" type="submit">Salvar Grupo</button>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Adicionar Link</h2>
        </div>
        <div class="card-body">
            <form action="." method="post" class="form-group">
                {% csrf_token %}
                {{ form_link.as_p }}
                <button class="btn btn-primary" type="submit">Salvar Link</button>
            </form>
        </div>
    </div>




</div>
</div>
{%endblock main%}