{%extends "base.html"%}
{%block titulo%}
Cadastro
{%endblock titulo%}

{%block main%}

<div class="card">
    <div class="card-header text-center">
        <h2>Cadastro</h2>
    </div>
    <div class="card-body">
        <form method="post" actiopn="{% url 'cadastro' %}" class="d-flex flex-column align-content-around m-5 gap-2">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{form_cadastro.first_name}}
                </div>
                <div class="col-6">
                    {{form_cadastro.last_name}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{form_cadastro.email}}
                </div>
                <div class="col-6">
                    {{form_cadastro.username}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{form_cadastro.password}}
                </div>
                <div class="col-6">
                    <input name="confirmacao" type="password" placeholder="Confirmação de Senha" class="form-control my-2 p-2">
                </div>
            </div>
                    
            
            
            
            
            <button type="submit" class="btn btn-primary">Cadastre-se</button>
            <a href="{%url 'home'%}" class="btn btn-danger"> Cancelar </a>
        </form>
    </div>
</div>

{%endblock main%}