{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="card m-8">
    <div class="card-header">
        <h4 class="text-center">
            Editar Grupo
        </h4>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'editar_grupo_painel' grupo.id%}" class="d-flex flex-column align-content-around m-2 gap-2">
            {% csrf_token %}

            {{ form.name }}


            <div>
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th>Permissões</th>
                            <th>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" style="transform: translateX(-.5rem)" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                            </th>
                            <th>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                </svg>
                            </th>
                            <th>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg>
                            </th>
                            <th>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                </svg>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in permissoes.items %}
                            <tr>
                                <td>{{ key }}</td>
                                {% for itemkey, itemvalue in value.items %}
                                    <td width="30">
                                        <input name="permissoes" value="{{ itemvalue }}" type="checkbox"
                                            {% if itemvalue in permissoes_grupo %} checked {% endif %}>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            Usuarios
                        </tr>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Nome de Usuario
                            </th>
                            <th>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" style="transform: translateX(-.5rem)" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>
                                {{usuario.id}}
                            </td>
                            <td>
                                {{usuario.username}}
                            </td>
                            <td>
                                <input name="usuarios" value="{{ usuario.id }}" type="checkbox"
                                {% if usuario in usuarios_grupo %} checked {% endif %}>
                            </td>
                        </tr>
    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex flex-row justify-content-around">
                <button type="submit" class="btn btn-primary px-5 py-2">Editar Perfil</button>
                <a class="btn btn-secondary" href="{% url 'painel' %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock main %}