{%extends "base.html"%}
{% load static %}

{%block titulo%}
UNIVERSIDADE ESTADUAL DE SANTA CRUZ
{%endblock titulo%}


{%block main%}

<style>
  .link {
    text-decoration: none;
  }

  .link {
    color: #02335E;
  }
</style>
<div class="container-fluid" >
  <div class="d-flex row" >

    <div class="d-flex flex-wrap gap-3 col-lg-12 col-12" >
      {% for tipo, grupos in grupos_por_tipo.items %}

      <div class="card flex-fill" >
        <div class="card-header" style="background-color: #02335e3b; " >
          <strong>{{tipo.tipo}}</strong>
        </div>

        <div class="card-body">
          {% for grupo in grupos %}
          <strong>{{ grupo.titulo }}</strong>
          <ul class="resultado-list">
            {% for link in grupo.link_set.all %}
            <li>
              <a href="{{ link.endereco }}" class="link">
                {{ link.nome }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>

        {% if tipo.tipo == "EDITAIS" or tipo.tipo == "NOTICIAS" %}
        <div class="card-footer" >
          <div class="d-flex justify-content-center">
            {% if tipo.tipo == 'EDITAIS' %}
            <a href="{% url 'editais' %}">
              <button id="show-more-btn" class="btn " style="background-color: #02335E; color: #ffffff;">Mostrar Mais</button>
            </a>
            {% else %}
            <a href="{% url 'noticias' %}">
              <button id="show-more-btn" class="btn " style="background-color: #02335E; color: #ffffff;">Mostrar Mais</button>
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %}

      </div>
      {% endfor %}
    </div>


  </div>
</div>

{%endblock main%}




