{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0WTzRBhdj70p5FTclzOe5xvCY8X/s1QaEvjvzFCqfcuWdO9eBIKe2NuTkofn5rN" crossorigin="anonymous">
    <title>Noticias</title>
</head>
  
<style>
    :root{
      --bs-body-color: rgb(197, 197, 197);
      --bs-body-color-rgb: rgb(197, 197, 197);
    }
    
    body {
      min-height: calc(100vh - 100px);
      position: relative;
    }
    

</style>
<body>
    {%block header%}
    <header>
        <div class="d-flex justify-content-between" style="border: 2px solid #444598;">
            <h1>
              UNIVERSIDADE ESTADUAL DE SANTA CRUZ
            </h1>
            <div class="logoUESC">
              <img src="{%static '/brasao_uesc.png' %}" class="img-fluid scale-25" alt="UESC logo" style="width: 100px; height: 100px; border: 2px solid #444598; border-radius: 100px;">
            </div>
        </div>
    </header>
    {%endblock header%}
    
    {% for ano, meses_em_ano in noticias_por_ano.items %}
      <div class="ano" style="background-color: rgb(230, 248, 255); border: 2px solid rgb(230, 248, 255); border-radius: 10px;">
        <div class="d-flex align-items-center text-white" style="background-color: rgb(2, 46, 63);">
            <h2>{{ ano }}
        </div>
        
          {% for mes, noticias_mes in meses_em_ano.items %}
              <div class="mes">
                <div class="d-flex justify-content-center align-items-center mb-4" style="background-color: rgb(33, 90, 112); height: 50px;"><h3>{{ mes }}</h3> </div>
                  {% for grupo in noticias_mes %}
                      <div class="d-flex mb-4" style="background-color: rgb(181, 217, 231)">
                          <h2>{{ grupo.titulo }}</h2>
                          <p>Data: {{ grupo.data|date:"d/m/Y" }}</p>
                          <ul>
                              {% for link in grupo.link_set.all %}
                                  <li><a href="{{ link.endereco }}">{{ link.nome }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endfor %}
              </div>
          {% endfor %}
      </div>
    {% endfor %} 

    {% block footer %}
        <footer class="fixed-bottom bg-light text-center">
            <div class="container">
                <p>Site Não Oficial desenvolvido por Gabriel dos Santos Sousa e Girleide Macario dos Santos</p>
                <p>UNIVERSIDADE ESTADUAL DE SANTA CRUZ</p>
                <p>Campus Soane Nazaré de Andrade, Rodovia Jorge Amado, km 16, Bairro Salobrinho.</p>
                <p>CEP 45662-900. Ilhéus-Bahia</p>
                <p><a href="http://www.uesc.br/nucleo-web/">Núcleo Web</a></p>
            </div>
        </footer>
    {% endblock footer %}
</body>
</html>
