{% extends "base.html" %}
{% load static %}

{% block titulo %}
NOTÍCIAS
{% endblock titulo %}



{% block main %}
<div class="container mt-4">
    {% for ano, meses_em_ano in noticias_por_ano.items %}
    <div class="ano card mb-4" style="border-radius: 10px;">
        <div class="card-body">
            <h2>{{ ano }}</h2>
            {% for mes, noticias_mes in meses_em_ano.items %}
            <div class="mes card mb-3">
                <div class="card-header text-black"  style="background-color: #02335e6c;">
                    <h3>{{ mes }}</h3>
                </div>
                <div class="card-body">
                    {% for grupo in noticias_mes %}
                    <div class="grupo card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ grupo.titulo }}</h5>
                            <p class="card-text">Data: {{ grupo.data|date:"d/m/Y" }}</p>
                            <ul class="list-unstyled">
                                {% for link in grupo.link_set.all %}
                                <li><a href="{{ link.endereco }}">{{ link.nome }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main %}


