{% extends "base.html" %}
{% load static %}

{% block main %}
<a href="{% url 'criar_usuario' %}"> Adicionar Usuario</a>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nome de Usuário</th>
                <th>Email</th>
                <th>Primeiro Nome</th>
                <th>Sobrenome</th>
                <th>Editar</th>
                <th>Super Usuário</th>
                <th>Ativo</th>
                <th>Funcionários</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.last_name }}</td>
                
                <td class="text-center"> <a href="{%url 'editar_usuario' usuario.id%}" class="btn btn-success">Editar</a> </td>


                <td class="text-center">
                    <a href="{% url 'alternar_superuser' usuario.id %}" class="btn {% if usuario.is_superuser %}btn-success{% else %}btn-danger{% endif %}">
                        {% if usuario.is_superuser %}
                            Sim
                        {% else %}
                            Não
                        {% endif %}
                    </a>
                </td>
                
                    
                <td class="text-center"> <a href="{%url 'alternar_active' usuario.id%}" class="btn {% if usuario.is_active %}btn-success{% else %}btn-danger{% endif %}">
                    {% if usuario.is_active %}
                        Sim
                    {%else%}
                        Não
                    {%endif%}
                </a></td>


                <td class="text-center"> <a href="{%url 'alternar_staff' usuario.id%}" class="btn {% if usuario.is_staff %}btn-success{% else %}btn-danger{% endif %}">
                    {% if usuario.is_staff %}
                        Sim
                    {%else%}
                        Não
                    {%endif%}
                </a></td>





                <td class="text-center"> <a href="{%url 'remover' usuario.id%}" class="btn btn-danger">Excluir Conta</a> </td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}
