{% extends "base.html" %}
{% block titulo %}
Perfil
{% endblock titulo %}

{% block main %}

{% if user.is_authenticated %}

<div class="card m-8">
    <div class="card-body">
        <form method="post" action="{% url 'editar_usuario' user.id %}" class="d-flex flex-column align-content-around m-2 gap-2">
            {% csrf_token %}
            <p><strong>Usuário:</strong></p>
            {{ form_usuario.username }}
            <p><strong>Nome:</strong></p>
            {{ form_usuario.first_name }}
            {{ form_usuario.last_name }}
            <p><strong>Email:</strong></p>
            {{ form_usuario.email }}
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary px-5 py-2">Editar Perfil</button>
                <a class="btn btn-danger px-5 py-2" href="{% url 'logout' %}">Deslogar</a>
                {% if not user.is_superuser %}
                    <a class="btn btn-danger px-5 py-2" href="{% url 'remover' user.id %}">Remover Conta</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>


{% else %}

<div class="card m-8">
    <div class="card-header text-center">
        <h2>Login</h2>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'login' %}" class="d-flex flex-column align-content-around m-2 gap-2">
            {% csrf_token %}
            {{ form_usuario.username }}
            {{ form_usuario.password }}
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary px-5 py-2">Logar</button>
                <a class="btn btn-secondary px-5 py-2" href="{% url 'cadastro' %}">Registre-se</a>
            </div>
        </form>
    </div>
</div>

{% endif %}

{% endblock main %}
