{%extends "base.html"%}
{%block titulo%}
Remover Conta
{%endblock titulo%}


{%block main%}

<div class="card m-8">

    <div class="card-body">
        <form method="post" actiopn="{% url 'login' %}" class="d-flex flex-column align-content-around m-2 gap-2">
            {% csrf_token %}
            {{form_remover.username}}
            {{form_remover.password}}
            <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-danger px-5 py-2">Remover Conta</button>
                <a class="btn btn-secondary px-5 py-2" href="{%url 'home'%}"> Cancelar </a>
                
            </div>

        </form>

</div>
{%endblock main%}